@import url('https://fonts.googleapis.com/css2?family=Playwrite+NO:wght@100..400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}

body{
    background: #fff9d6;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
}

.main-header{
    width: 100%;
    padding: 18px;
    background: #1d4ed8;
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);

    
    font-family: "Playwrite NO", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.details-container{
    width: 450px;
    background: white;
    padding: 30px 25px;
    border:2px solid black;
    border-radius: 15px;
    box-shadow: 0 0 25px rgba(0,0,0,0.15);
    text-align: center;
    margin-top: 90px;
}

.main-title{
    font-size: 24px;
    color: #103a71;
    font-weight: 700;
    margin-bottom: 15px;
}

.intro-text{
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
}

.details-form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.details-form label{
    display: block;
    font-size: 14px;
    font-weight: 500;
    color: #1d4ed8;
    margin-bottom: 5px;
}

.details-form input{
    width: 100%;
    padding: 10px 12px;
    border: 1px solid #bbb;
    border-radius: 8px;
    font-size: 14px;
    outline: none;
    transition: 0.3s;
    border:2px solid black;
}

.details-form input:focus{
    border-color: #1d4ed8;
    box-shadow: 0 0 5px rgba(29,78,216,0.3);
}

.row{
    display: flex;
    gap: 10px;
}

.input-group{
    flex: 1;
    display: flex;
    flex-direction: column;

}


.start-btn{
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: #1d4ed8;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10px;
}


.start-btn:hover{
    background: #103a71;
}

.action-btns{
    display: flex;
    justify-content: space-between;
  
}

.clear-btn, .instruction-btn{
    width: 48%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
}



.clear-btn{
    background: rgb(201, 20, 20);
    color: white;
    margin: auto;
    width: 100%;
    font-weight: bold;

}

.clear-btn:hover{
    background: rgb(129, 18, 18);
}

a
{
    text-decoration: none;
    color:white;
}