@import url('https://fonts.googleapis.com/css2?family=Playwrite+NO:wght@100..400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 
}

body{
    background: #fff9d6;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
     font-family: "Poppins", sans-serif; 
}

.main-header{
    width: 100%;
    padding: 18px;
    background: #1d4ed8;
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);

    font-family: "Playwrite NO", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.instruction-box{
    width: 450px;
    background: white;
    padding: 25px;
    border:2px solid black;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
    text-align: center;
    margin-top: 90px;
}

.title{
    font-size: 26px;
    color: #103a71;
    font-weight: 700;
    margin-bottom: 20px;
}

.rules{
    list-style: none;
    text-align: left;
    font-size: 16px;
    color: #333;
    margin-bottom: 25px;
    line-height: 28px;
    font-weight: bold;
}

.start-btn, .back-btn{
    width: 70%;
    padding: 12px;
    margin-top: 10px;
    border: none;
    border-radius: 8px;
    background: #1d4ed8;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: .3s;
    border:2px solid black;
}

.back-btn{
    background:#ef4444;

   
}
a
{
    text-decoration: none;
    color:white;
}

.start-btn:hover{
    background: #103a71;
}

.back-btn:hover{
    background: #b91c1c;
}

