
@import url('https://fonts.googleapis.com/css2?family=Playwrite+NO:wght@100..400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

   
  
body{
    background: #fff9d6;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  
}


.main-header{
    width: 100%;
    padding: 18px;
    background: #1d4ed8;
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Playwrite NO", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.quiz-container{
    margin-top: 80px;
}

.quiz-container{
    width: 450px;
    background: white;
    border:2px solid black;
  
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
    text-align: center;
}

.main-title{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px;
    letter-spacing: 2px;
    color: #103a71;
}

.box{
    margin-top: 10px;
}
.box h2
{
    
    font-family: "Playwrite NO", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-weight: bold;
}
p
{
    font-weight: bold;
}
.logo{
    font-size: 22px;
    font-weight: 600;
    color: #1d4ed8;
    margin-bottom: 15px;
}

.welcome-text{
    font-size: 16px;
    margin-bottom: 20px;
    color: #333;
}

.start-btn, .instruction-btn{
    width: 70%;
    padding: 12px;
    margin-top: 10px;
    border: none;
    border-radius: 8px;
    background: #1d4ed8;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: .3s;
}

.start-btn:hover, .instruction-btn:hover{
    background: #103a71;
}

.instructions-area{
    margin-top: 20px;
    color: #555;
    font-size: 14px;
}

.instructions-area a
{
    text-decoration: none;
    color:white;
}

a
{
    text-decoration: none;
    color:white;
}